*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 45, 45);
    color: #989393;
    font-size: 18px;

}
.credit a{
    color: #b6b6b6;
    text-decoration: none;

}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(46, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    width: 400px;
    max-width: 90%;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #000000;
    outline: none;
    color: #000000;
    background: #e9e9e9;
    font-size: 25px;
}





img{
    width: 35px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}



#message{
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 18px;
    display: none;

}

::placeholder{
    font-size: 15px;
}